USE [master]
GO
/****** Object:  Database [Lab3]    Script Date: 3/19/2021 9:50:58 PM ******/
CREATE DATABASE [Lab3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Lab3.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lab3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Lab3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab3]
GO
/****** Object:  Table [dbo].[tblCar]    Script Date: 3/19/2021 9:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCar](
	[ID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[image] [varchar](50) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[categoryID] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tblCar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 3/19/2021 9:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [varchar](50) NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 3/19/2021 9:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsers](
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[createDate] [date] NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblCar] ([ID], [name], [image], [color], [year], [categoryID], [price], [quantity], [status]) VALUES (1, N'Mescedes gt53', N'car3.jpg', N'black', 2000, N'1', 200, 50, 1)
INSERT [dbo].[tblCar] ([ID], [name], [image], [color], [year], [categoryID], [price], [quantity], [status]) VALUES (2, N'Mescedes gt53', N'car3.jpg', N'black', 2000, N'1', 200, 50, 1)
INSERT [dbo].[tblCar] ([ID], [name], [image], [color], [year], [categoryID], [price], [quantity], [status]) VALUES (3, N'Mescedes gt53', N'car3.jpg', N'black', 2000, N'1', 200, 50, 1)
INSERT [dbo].[tblUsers] ([email], [password], [phone], [name], [address], [createDate]) VALUES (N'danh@gmail.com', N'123', N'0979399749', N'Cong Danh', N'111 Le trong tan', CAST(N'2021-03-16' AS Date))
USE [master]
GO
